/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
    background-color:darkolivegreen;
    margin: auto;
    width: ;
}

.main {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
    min-width: 970px;
    border-bottom: 10px ridge wheat;
}

.main2{
    background-color:darkslategray;
}
.main2 nav{
    padding: 5px;
}





/*=========Style Stories section=============*/


.story-list{
    background-color: darkolivegreen;
    color:bisque;
    border-radius: 5px;
    border-right: 10px groove red;
    padding:20px;
}
.story-list a {
    display:block;
    color: black;
    width: 100%;
    padding: 2px;
    text-align: center;
    font-family: "Indie Flower", "Pacifio", "Playfair Display", cursive;
    font-weight: 600;
    font-size: 30px;  
}
.story-list a:hover{
    color: burlywood;
}

.story-list a.active{
    background-color:blanchedalmondg;
    background-image: url(/images/arrow.png);
    background-size: cover;
    
}


.story-body{
    background-color: bisque;
    margin: 5px;
    border-radius: 5px;
}
.story-body .title{
    text-align: center;
    font-family: "Pacifico", "Indie Flower", "Playfair Display";
    border: 
}


/*==============Major flow=====================*/

.container{
    width: 900px;
    margin: auto;
    background: ;
}


.col-1-3{
    width: 33.33%;
    display: inline-table;
}
.col-1-4{
    width: 25%;
    display: inline-table;
    background:;
}
.col-3-4{
    width: 75%;
    display: inline-table;
    background:;
}


.center{
    text-align: center;
}

.left{
    float: left;   
}


.gallery{
    background-color: antiquewhite;
    opacity: .7;
    padding-bottom: 20px;
}

.gallery .col-1-4{
    margin: 5px;
    border-radius: 2%;
    background-attachment:local;
    background-position: center;

}
.gallery .col-1-4:hover{
    border-radius: 0;
    background-size: cover;
    background-attachment:local;
}



.gallery .col-1-4 h1{
    position: relative;
    bottom: -120px;
    visibility: collapse;
    
}
.gallery .col-1-4 p{
    position: relative;
    visibility: collapse;
}


.gallery .col-1-4:hover h1{
    position: relative;
    visibility:visible;
    top: 120px;
    background: yellow;
    opacity: .6;
    color: black;
    content: "Victor";
}
/*=========set backgrounds====*/
.gallery .col-1-4:nth-child(2){
    background-image: url(/images/images);
}
.gallery .col-1-4:nth-child(3){
    background-image: url(/images/south-african-children-007.jpg);
}
.gallery .col-1-4:nth-child(4){
    background-image: url(/images/Childrens-Day-3.jpg);
}

.gallery .col-1-4:nth-child(5){
    background-image: url(/images/childrenday2015.jpg);
}
.gallery .col-1-4:nth-child(6){
    background-image: url(/images/Destiny-Africa-Inspire-Tour-20131.jpg);
}
.gallery .col-1-4:nth-child(7){
    background-image: url(/images/africa-my-kids.jpg);
}







.clearfix{
    clear: both;
}
/*===============Typography=====================================*/
a{
    text-decoration: none;
}

h1{
    font-size: 32px;
    font-family: "Playfair Display", sans-serif;
}

p{
    font-family: "Playfair Display", sans-serif;
    padding: 15px
}

.top-logo{
    display: block;
    border-top: 10px groove #648880;
    border-bottom: 4px ridge #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 2.2px;
    line-height: 34px;
    padding: 30px 0 32px 0;
    text-transform: capitalize;
    color: wheat;
}

.top-logo h1{
    font-family: "Pacifico", "Indie Flower", "Playfair Display";
    font-weight: 900;
    font-size: 40px;
}


nav{
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: right;
    font-size: 32px;
}

nav a{
    font-family: "Playfair Display","Indie Flower";
    color: wheat;
}

header{
    padding-bottom: 5px;
}
.topimg{
    background-image: url(/images/south-african-children-007.jpg);
    background-position: 0px -30px;
    background-size: 100% 200%;
    min-height: 250px;
    min-width: 970px;
    margin: auto;
    border-top: 10px ridge wheat;
    border-bottom: 10px ridge wheat;
}
.lead{
    border: 2px solid wheat;
    border-radius: 5px;
    margin: 0px auto;
    padding: 20px;
    color: darkolivegreen;
    font-weight: 900;
}

footer{
    padding: 20px 0 20px 0;
    font-family: "Indie Flower";
    
}
footer  h1{
    
    font-family: "Playfair Display","Indie Flower";
    font-size: 24px;
    color: wheat;
}

a:hover{
    color: beige;
    text-decoration:underline;
}
